{% extends "layout.html" %}

{% block main %}
 <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <span class="card-title"><b>Encrypted text</b></span>
          <p>{{ cipher }}</p>
        </div>
        <div class="card-action">
 <button style="margin-left: 700px;" class="btn waves-effect waves-light" type="submit" name="action">
    <i class="material-icons">content_copy</i>
  </button>
        <!-- <div id="chartContainer" style="height: 300px; width: 100%;"></div> -->



        </div>
      </div>
    </div>
  </div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
  <script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
  animationEnabled: true,
  theme: "light2", // "light1", "light2", "dark1", "dark2"
  title:{
    text: "Top Oil Reserves"
  },
  axisY: {
    title: "Reserves(MMbbl)"
  },
  data: [{        
    type: "column",  
    showInLegend: true, 
    legendMarkerColor: "grey",
    legendText: "MMbbl = one million barrels",
    dataPoints: [      
      { y: 300878, label: "Venezuela" },
      { y: 266455,  label: "Saudi" },
      { y: 169709,  label: "Canada" },
      { y: 158400,  label: "Iran" },
      { y: 142503,  label: "Iraq" },
      { y: 101500, label: "Kuwait" },
      { y: 97800,  label: "UAE" },
      { y: 80000,  label: "Russia" }
    ]
  }]
});
chart.render();

}
</script>
{% endblock %}